<h1>Listing borrowers</h1>

<table>
  <tr>
    <th>Buid</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Category</th>
    <th>Description</th>
    <th>Sum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @borrowers.each do |borrower| %>
  <tr>
    <td><%= borrower.buid %></td>
    <td><%= borrower.first_name %></td>
    <td><%= borrower.last_name %></td>
    <td><%= borrower.category %></td>
    <td><%= borrower.description %></td>
    <td><%= borrower.sum %></td>
    <td><%= link_to 'Show', borrower %></td>
    <td><%= link_to 'Edit', edit_borrower_path(borrower) %></td>
    <td><%= link_to 'Destroy', borrower, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Borrower', new_borrower_path %>
