<%= form_for(@decision_object) do |f| %>
  <% if @decision_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@decision_object.errors.count, "error") %> prohibited this decision_object from being saved:</h2>

      <ul>
      <% @decision_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :requirements %><br />
    <%= f.text_area :requirements %>
  </div>
  <div class="field">
    <%= f.label :story_object %><br />
    <%= f.text_field :story_object %>
  </div>
  <div class="field">
    <%= f.label :to_story_id %><br />
    <%= f.number_field :to_story_id %>
  </div>
  <div class="field">
    <%= f.label :hints %><br />
    <%= f.text_area :hints %>
  </div>    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
