<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @friend.uid %>
</p>

<p>
  <b>Fuid:</b>
  <%= @friend.fuid %>
</p>


<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
