<%= form_for(@badge_list) do |f| %>
  <% if @badge_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@badge_list.errors.count, "error") %> prohibited this badge_list from being saved:</h2>

      <ul>
      <% @badge_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :luid %><br />
    <%= f.number_field :luid %>
  </div>
  <div class="field">
    <%= f.label :bid %><br />
    <%= f.number_field :bid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
