<h1>Listing badge_lists</h1>

<table>
  <tr>
    <th>Luid</th>
    <th>Buid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @badge_lists.each do |badge_list| %>
  <tr>
    <td><%= badge_list.luid %></td>
    <td><%= badge_list.bid %></td>
    <td><%= link_to 'Show', badge_list %></td>
    <td><%= link_to 'Edit', edit_badge_list_path(badge_list) %></td>
    <td><%= link_to 'Destroy', badge_list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Badge list', new_badge_list_path %>
