<%= form_for(@event_log) do |f| %>
  <% if @event_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_log.errors.count, "error") %> prohibited this event_log from being saved:</h2>

      <ul>
      <% @event_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :luid %><br />
    <%= f.number_field :luid %>
  </div>
  <div class="field">
    <%= f.label :event %><br />
    <%= f.text_area :event %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
