<h1>Listing event_logs</h1>

<table>
  <tr>
    <th>Luid</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_logs.each do |event_log| %>
  <tr>
    <td><%= event_log.luid %></td>
    <td><%= event_log.event %></td>
    <td><%= link_to 'Show', event_log %></td>
    <td><%= link_to 'Edit', edit_event_log_path(event_log) %></td>
    <td><%= link_to 'Destroy', event_log, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event log', new_event_log_path %>
