<p id="notice"><%= notice %></p>

<p>
  <b>Luid:</b>
  <%= @event_log.luid %>
</p>

<p>
  <b>Event:</b>
  <%= @event_log.event %>
</p>


<%= link_to 'Edit', edit_event_log_path(@event_log) %> |
<%= link_to 'Back', event_logs_path %>
