<h1>Listing story_objects</h1>

<table>
  <tr>
  	<th>Story ID</th>
    <th>Description</th>
    <th>Decision 1 description</th>
    <th>Decision 1 requirements</th>
    <th>Decision 1 lead to story</th>
    <th>Decision 1 hints</th>
    <th>Decision 2 description</th>
    <th>Decision 2 requirements</th>
    <th>Decision 2 lead to story</th>
    <th>Decision 2 hints</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @story_objects.each do |story_object| %>
  <tr>
    <td><%= story_object.id %></td>
    <td><%= story_object.description %></td>
    <td><%= story_object.decision_objects[0].description %></td>
    <td><%= story_object.decision_objects[0].requirements %></td>
    <td><%= story_object.decision_objects[0].to_story_id %></td>
    <td><%= story_object.decision_objects[0].hints %></td>
    <td><%= story_object.decision_objects[1].description %></td>
    <td><%= story_object.decision_objects[1].requirements %></td>
    <td><%= story_object.decision_objects[1].to_story_id %></td>
    <td><%= story_object.decision_objects[1].hints %></td>
    <td><%= link_to 'Show', story_object %></td>
    <td><%= link_to 'Edit', edit_story_object_path(story_object) %></td>
    <td><%= link_to 'Destroy', story_object, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story object', new_story_object_path %>
