<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :decision_id_1 %><br />
    <%= f.number_field :decision_id_1 %>
  </div>
  <div class="field">
    <%= f.label :decision_id_2 %><br />
    <%= f.number_field :decision_id_2 %>
  </div>
  <div class="field">
    <%= f.label :story_id %><br />
    <%= f.number_field :story_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
