<h1>Listing decision_tests</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Story test</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @decision_tests.each do |decision_test| %>
  <tr>
    <td><%= decision_test.description %></td>
    <td><%= decision_test.story_test %></td>
    <td><%= link_to 'Show', decision_test %></td>
    <td><%= link_to 'Edit', edit_decision_test_path(decision_test) %></td>
    <td><%= link_to 'Destroy', decision_test, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Decision test', new_decision_test_path %>
