<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @lender.luid %>
</p>

<p>
  <b>First name:</b>
  <%= @lender.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @lender.last_name %>
</p>

<p>
  <b>Class type:</b>
  <%= @lender.class_type %>
</p>

<p>
  <b>Experience:</b>
  <%= @lender.experience %>
</p>

<p>
  <b>Credit</b>
  <%= @lender.credit %>
</p>


<%= link_to 'Edit', edit_lender_path(@lender) %> |
<%= link_to 'Back', lenders_path %>
